<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/Css/cad.css">
    <title>CAD</title>
</head>
<body>
    <div class="container">
        <header>
            <h1>CAD</h1>
            <ul>
                <li><a href="">Home</a></l1>
                <li><a href="">Sobre</a></li>
                <li><a href="">Transferir</a></li>
                <li><a href="">Login</a></li>
                <li><a href="">Download</a></li>
            </ul>
        </header>
        <article>
            <div class="left">
                <h4>Join us</h4>
                <p>&nbsp;</p>
                <h1>Próxima geração de moeda digital</h1>
                <p>&nbsp;</p>
                <p>Baixe o nosso aplicativo para que você possa experimentar. Você vai amar</p>
                <p>&nbsp;</p>
                <div class="boxButtons">
                    <button>Baixar o APP</button>
                    <button>Saber mais</button>
                </div>
            </div>
            <div class="right">
                <img src="../../public/assets/img/pasta.png" alt="">
            </div>
        </article>
        <main>
            <div class="box1">
                <h1>O serviço certo para você tem a confiança de muitas pessoas</h1>
                <div class="hand">
                    <div class="just">
                        <h4>24 <span class="redM">+</span></h4>
                        <p>Anos de experiência</p>
                    </div>
                    <div class="just1">
                        <h4>124 <span class="blueM" >+</span></h4>
                        <p>Usuários em nossa plataforma</p>
                    </div>
                </div>
                <div class="hear">
                    <div class="just">
                        <h4>74 <span class="blueM">+</span></h4>
                        <p>Nossos clientes fiéis </p>
                    </div>
                    <div class="just1">
                        <h4>40 <span class="redM">+</span> </h4>
                        <p>Parceiros em todo o mundo</p>
                    </div>
                </div>
            </div>
            <div class="box2">
                <div class="thing">
                    <div class="just2">
                        <h3>ConFiar</h3>
                        <img src="../../public/assets/img/download1.png" alt="">
                        <p>São necessárias poupanças para lidar com riscos financeiros no futuro</p>
                    </div>
                    <div class="just3">
                        <h3>Flexibilidade</h3>
                        <img src="../../public/assets/img/download2.png" alt="">
                        <p>você pode realizar facilmente várias transações bancárias</p>
                    </div>
                </div>
                <div class="pain">
                    <div class="thing">
                        <div class="just4">
                            <h3>Proteção</h3>
                            <img src="../../public/assets/img/download3.png" alt="">
                            <p>Evite carregar dinheiro em mãos, armazene e mova seu dinheiro usando CAD</p>
                        </div>
                        <div class="just5">
                            <h3>Comercial</h3>
                            <img src="../../public/assets/img/download4.png" alt="">
                            <p>Aumentar o acesso ao financiamento é fácil de conseguir e de baixo custo</p>
                        </div>

                </div>
            </div>
        </main>
        <div class="dark">
            <div class="dark0">
                <h1>Faça transferências de dinheiro de diferentes maneiras</h1>
                <div class="boxRed"></div>
                <div class="img">
                    <img src="../../public/assets/img/black man.jpg" alt="">
                </div>
            </div>
            <div class="dark1">
               <div class="text">
                   <div class="black0">
                       <h3>Transferencia de CAD para IBAN</h3>
                       <p>Na transferência de cad para iban o usuário pode fazer transferências instantâneas para qualquer destinatário iban sem recorrer a recursos externos</p>
                   </div>
                   <div class="black1">
                       <h3>Transferências de distância</h3>
                       <p>Seja de CAD para CAD ou de CAD para iban, o usuário CAD pode fazer transferências fora do remetente</p>
                   </div>
               </div>
               <div class="text1">
                    <div class="black2">
                        <h3>Transferencia CAD para CA</h3>
                        <p>Na transferência de cad para cad, o usuário pode fazer transferências instantâneas para outros usuários de cad</p>
                    </div>
                    <div class="black3">
                        <h3>Transferências de proximidade</h3>
                        <p>Aqui o usuário CAD irá gerar um QRcode que armazena as credenciais de transferência e o outro usuário irá ler este qrcode e receber o dinheiro</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="nice">
            <div class="lower">
                <p>Baixar agora</p>
                <p>&nbsp;</p>
                <h1>Seu aplicativo está pronto para download!</h1>
                <p>Selecione sua plataforma e comece a usar CAD</p>
                <p>&nbsp;</p>
                <div class="apple">
                    <div class="G1">
                        <img src="../../public/assets/img/apple.jpg" alt="">
                    </div>
                    <div class="G2">
                        <img src="../../public/assets/img/android.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="phone">
                <img src="../../public/assets/img/celular.png" alt="">
            </div>
        </div>
        <div class="coin">
            <div class="coin1">
                <img src="../../public/assets/img/coin.png" alt="">
            </div>
            <div class="coin1">
                <img src="../../public/assets/img/coin.png" alt="">
            </div>
            <div class="coin1">
                <img src="../../public/assets/img/coin.png" alt="">
            </div>
            <div class="coin1">
                <img src="../../public/assets/img/coin.png" alt="">
            </div>
            <div class="coin1">
                <img src="../../public/assets/img/coin.png" alt="">
            </div>
            <div class="coin1">
                <img src="../../public/assets/img/coin.png" alt="">
            </div>
            <div class="coin1">
                <img src="../../public/assets/img/coin.png" alt="">
            </div>
        </div>
        <footer>
            <div class="range">
                <div class="cad">
                    <h2>CAD</h2>
                    <p>Mike, UI/design & Mobile Dev</p>
                    <p> Osvânio, web Developer</p>
                    <div class="location">
                        <img src="../../public/assets/icons/bx-location-plus.svg" alt="">
                        <p>Nossa localização aqui</p>
                    </div>
                    <div class="email">
                        <p>@</p>
                        <p>cad@hotmail.com</p>
                    </div>
                    <div class="number">
                        <img src="../../public/assets/icons/bx-phone.svg" alt="">
                        <p>999-999-999</p>
                    </div>
                </div>
                <div class="getting">
                    <h4>Começando</h4>
                    <p>documentação</p>
                    <p>introdução</p>
                    <p>Global</p>
                    <p>Uso</p>
                    <p>API</p>
                    <p>Elementos</p>
                </div>
                <div class="company">
                    <h4>Empresa</h4>
                    <p>Sobre nós</p>
                    <p>carreira</p>
                    <p>comunidade</p>
                    <p>clientes</p>
                    <p>Contate-nos</p>
                </div>
                <div class="parter">
                    <h4>Parceiros</h4>
                    <p>Lezard Crew</p>
                    <p>Nossos usuários</p>
                </div>
                <div class="resources">
                    <h4>Recursos</h4>
                    <p>Apoiar</p>
                    <p>segurança</p>
                    <p>Centro de ajuda</p>
                    <p>preferências</p>
                    <p>termos de uso</p>
                </div>
            </div>
            <div class="reta"></div>
            <div class="wish">
                <div class="yeager">
                    <p>@2024 Miguel Luamba & Osvânio De Castro -Todos os direitos Reservados</p>
                </div>
                <div class="terms">
                    <p>Termos e Condições</p>
                </div>
                <div class="policity">
                    <p>Política de Privacidade</p>
                </div>
                <div class="cookies">
                    <p>Política de cookies</p>
                </div>
                <div class="icons">
                    <div class="icons0">
                        <img src="../../public/assets/img/instagram.png" alt="">
                    </div>
                    <div class="icons0">
                        <img src="../../public/assets/img/Icons.png" alt="">
                    </div>
                    <div class="icons0">
                        <img src="../../public/assets/img/whatsAp.png" alt="">
                    </div>

                </div>

            </div>
        </footer>



    </div>
</body>
</html>